* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-neutral: rgb(255, 187, 0); 
  --color-wrong: #ff0000; 
  --color-correct: #0BDA51; 
}



body {
  margin: 0;
  padding: 0;
  background-color: #6495ED;
  width: 100vw;
}

.Quizzlet {
  color: #a61891;
  font-size: 6em;
  margin: 10px 0;
}

.categories {
  display: none;
}

.categories__text {
  font-size: 1.5em;
  margin: 10px 0; /* Adjust the margin as needed */
}
