<div class="heading-wrapper">

  <div class="heading-wrapper__logo">
    <p>Quizzlet</p>
    </text>
  </div>

  <div class="score intro__score">
    <div class="score__container">
      <div class="score__prefix-wrapper">
        <p class="score__prefix">Score:</p>
      </div>
      <h2 class="score__value" id="score">1</h2>
    </div>
  </div>


  <div class="counter intro__counter">
    <div class="counter__prefix-wrapper">
      <p class="counter__prefix">Question:</p>
    </div>
    <h2 class="counter__value" id="counter">1/10</h2>
  </div>
</div>
<div class="quizzlet-wrapper">
  <h1 class="quizzlet-wrapper__title">
    Start QUIZ!
  </h1>
</div>



<!-- <div class="teams hide">
  <div class="quantity">
    <div class="quantity__text">Select Teams</div>
    <button class="quantity__button quantity__button--one">One team</button>
    <button class="quantity__button quantity__button--two">Two teams</button>
  </div>
</div> -->