<div class="quiz-container">
  <div id="question-content" class="question-content__container hide">
    <div class="question-content__text"> Question 1: What is the capital of Italy?</div>
    <div id="control-btns" class="question-content__btn-grid">
      <button class="question-content__btn common-btn">Answer 1</button>
      <button class="question-content__btn common-btn">Answer 2</button>
      <button class="question-content__btn common-btn">Answer 3</button>
      <button class="question-content__btn common-btn">Answer 4</button>
    </div>
  </div>
  <div class="controls-wrapper">
    <div class="controls-wrapper__btn">
      <button id="start-btn" class="controls__btn controls__btn--start controls-btn common-btn">Start</button>
      <button id="next-btn" class="controls__btn controls__btn--next controls-btn common-btn">Next</button>
    </div>
  </div>
  <!-- <button id="previous-btn" class="controls__btn controls__btn--previous common-btn">Previous</button> -->
</div>

</div>


<!-- score -->



<!-- START/NEXT question  -->