@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    color: var(--default-color);
    font-family: 'PT Sans';
    --default-color: #2a2a2a;
    --color-wrong: #ff0000;
    --color-correct: #0BDA51;
    --background-color: #faf0e6;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Merriweather, serif;
    background: rgb(208, 126, 247);
    background: linear-gradient(90deg, rgba(208, 126, 247, 0.8057816876750701) 0%, rgba(202, 101, 254, 0.8057816876750701) 27%, rgba(108, 31, 245, 0.7217480742296919) 99%);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.hidden {
    display: none;
}