$primary-color: #4CAF50;
$secondary-color: #008CBA;
$disabled-color: #cccccc;
$disabled-text-color: #666666;
$hover-color: #0BDA51;
$active-color: #034418;

.button {
    display: inline-flex;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'PT Sans';
    font-weight: bold;
    cursor: pointer;

    &:disabled {
        background-color: $disabled-color;
        color: $disabled-text-color;
        cursor: not-allowed;
        pointer-events: none;
    }

    &--primary {
        background-color: $primary-color;
        color: white;

        &:hover {
            background-color: $hover-color;
        }

        &:active {
            background-color: $active-color;
        }
    }

    &--secondary {
        background-color: $secondary-color;
        color: white;
    }

    &--tiny {
        // Add your styles for tiny button here
    }
}