.categories-container__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center all items vertically */
  text-align: center; 
}

.categories-container__text {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.categories-container {
  display: flex;
  justify-content: center; /* Center all items horizontally */
  align-items: center; /* Center all items vertically */
}

.categories-container__item {
  margin: 0 10px;
}
.categories-container__btn {
  padding: 10px 20px;
  font-size: 1.3rem;
  text-decoration: none; /* Remove the default underline */
  border: 2px solid #333; /* Add a border for a cleaner look */
  background-color: #ffffff; /* Set a background color */
  color: #333; /* Set text color */
  cursor: pointer; /* Change cursor on hover for better user feedback */
  transition: all 0.3s ease; /* Add a smooth transition effect */
}

.categories-container__btn:hover {
  text-decoration: double;
  background-color: #f0f0f0; /* Change background color on hover */
  border-color: #555; /* Change border color on hover */
  color: #555; /* Change text color on hover */
}