.header-container {
  background-color: inherit;
  z-index: 1000;
  grid-template-columns: 1fr 1fr auto;
  /* Adjusted column order */
  align-items: center;
  padding: 0 10px;
  display: grid;
  position: sticky;
  top: 0;
}

.header-container__logo {
  width: 150px;
  height: auto;
  padding-top: 10px;
}

.header-container__navbar {
  display: flex;
  justify-content: flex-start;
  /* Align items to the left corner */
  align-items: center;
  width: 100%;
}

.header-container__navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.centered-item {
  text-align: center;
  margin-left: 60px;
}

.centered-item:last-child {
  margin-left: auto;
  /* Pushes "Categories" to the right */
}

.right-aligned {
  margin-left: auto;
}

.spacer {
  flex: 1;
}


.header-container__logo {
  width: 150px;
  height: auto;
  display: block;
}

.header-container__navbar-item {
  text-decoration: none;
  color: var(--default-color);
  font-weight: 600;
}

.header-container__navbar-item:hover {
  text-decoration: underline;
}

@media(max-width: 320px) {
  .header-container__navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

}