.header-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 10px;
  position: sticky;
}

.header-container__navbar {
  text-align: right;
}

.header-container__navbar-menu {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px; /* Adjust as needed */
}

.header-container__logo {
  width: 150px;
  height: auto;
  display: block;
}
.header-container__navbar-item {
text-decoration: none;
color: var(--default-color);
font-weight: 600;
}

.header-container__navbar-item:hover {
  text-decoration: underline;
}
@media(max-width: 320px){
  .header-container__navbar-menu{
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

}