:root {
  ackground: rgb(208,126,247);
background: linear-gradient(90deg, rgba(208,126,247,0.8057816876750701) 0%, rgba(202,101,254,0.8057816876750701) 27%, rgba(108,31,245,0.7217480742296919) 99%);
}

.heading-wrapper {
  position: static;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  z-index: 1000;
}

.heading-wrapper__logo {

}

/* @keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
} */

.quizzlet-wrapper {
  margin: auto;
  margin-top: 100px;
}

.quizzlet-wrapper:hover {
  /* text-shadow: 1px 1px 1px hsl(60, 0%, 55%);
  ;
  text-decoration: solid; */

}
.quizzlet-wrapper__title {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center; 
  color: hsl(0, 0%, 2%);
  margin: 10px 0;
  padding: 10px; 
  border-radius: 15px; 
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.quizzlet-wrapper__title:hover {
 color: hsl(46, 100%, 50%);
  transform: scale(1, 0.95); }