@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --default-color: #2a2a2a;
  --color-wrong: #ff0000;
  --color-correct: #0BDA51;
  --background-color: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}


body {
  font-family: Merriweather, serif;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgb(208, 126, 247);
  background: linear-gradient(90deg, rgba(208, 126, 247, 0.8057816876750701) 0%, rgba(202, 101, 254, 0.8057816876750701) 27%, rgba(106, 90, 224, 1) 100%);
}

body.correct {
  --color-correct: #0BDA51;
}

body.wrong {
  --color-wrong: #ff0000;
}

.quiz-container {
  width: 470px;
  height: 420px;
  max-width: 80%;
  background-color: white;
  border: 1px solid hsl(198, 39%, 29%);
  border-radius: 5%;
  box-shadow: 0 0 10px 2px;
}

.question-content__btn-grid {
  padding: 80px 10px 10px 15px;
  display: grid;
  grid-template-columns: auto;
  gap: 10px;

}

.common-btn {
  background: rgba(94, 93, 240, 0.5);
  border-radius: 15px;
  box-shadow: rgba(94, 93, 240, 0.5) 0 10px 20px -10px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 7px 15px;
  word-break: break-word;
  border: 0;

}

.common-btn:hover {
  background: rgba(94, 93, 240, 0.8);
}

.common-btn:active {
  background: rgba(94, 93, 240, 1);
}

.question-content__text {
  padding-bottom: 10px;
  text-align: center;
  font-style: var(--default-color);
  font-family: inherit;
  padding-top: 10px;
  border-radius: 5%;
  font-size: 24px;
  font-weight: bold;
  color: #3e3131;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;


}