@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --default-color: #2a2a2a;
  --color-wrong: #ff0000;
  --color-correct: #0BDA51;
  --background-color: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}


body {
  font-family: Merriweather, serif;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: var(--background-color)
}

body.correct {
  --color-correct: #0BDA51;
}

body.wrong {
  --color-wrong: #ff0000;
}

.quiz-container {
  width: 400px;
  height: 350px;
  max-width: 80%;
  background-color: white;
  border: 1px solid hsl(198, 39%, 29%);
  border-radius: 5%;
  padding: 5px 10px;
  box-shadow: 0 0 10px 2px;
}

.question-content__btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  padding-top: 30px;
  margin: 20px, 0;
}

.common-btn {
  background: #5E5DF0;
  border-radius: 20px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  word-break: break-word;
  border: 0;
  /* Add any other common styles for buttons */
}

.question-content__text {
  padding-bottom: 20px;
  text-align: center;
  
  font-family: inherit;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 90px;

}